# data
code/chap05/datasets
code/chap06/datasets
code/chap08/datasets
code_test/datasets
data

# models
code/chap05/models
code/chap06/models
models

# references
references

.ipynb_checkpoints
.DS_store